* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 1;
    flex-wrap: wrap;
    gap: 20px;

}

.logo {

    display: flex;
    align-items: center;



}

.logo>h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: sans-serif;

}

.logo .r {

    color: red;
    font-style: italic;
    text-shadow: 2px 2px silver;
}

.logo .w {
    padding-left: 100px;
    color: white;
    font-style: italic;
    text-shadow: 2px 2px silver;
}

.search {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
}

.sl-1 {
    width: 200px;
    height: 30px;
}

.sl-2 {
    width: 150px;
    height: 30px;
}

button {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    text-shadow: 2px 2px silver;
    cursor: pointer;
    box-shadow: rgba(226, 7, 7, 0.973) 0px 2px 1px, rgb(236, 6, 6) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

button:active {
    color: red;
}

@media screen and (max-width:730px) {
    .logo {
        width: 100%;
        justify-content: center;

    }

    .logo .white {
        padding: 50px;
    }

    .search {
        width: 100%;
        justify-content: center;

    }

}

.main {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 80px;
}

.bg-img {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.bg-img>img {
    width: 100%;

}



.cards {

    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 30px;
    gap: 20px;
}

.card-1 {
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    padding: 20px;

}

.card-img {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;

}

.card-info {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-align: center;


}

.card-img>img {
    width: 100%;

    object-fit: cover;
}

@media screen and (max-width:730px) {
    .cards {
        margin-top: 130px;
        justify-content: space-around;
    }
}

.para {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
}

.price {
    width: 100%;
    text-align: center;

}

.color {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.black {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
}

.white {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
}

.red {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    border: 1px solid black;
}

.searchCar {
    width: 100%;
    height: 100vh;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: antiquewhite;
  
  
}

@media screen and (max-width:730px) {
    .searchCar {
        margin-top: 130px;
        justify-content: space-around;
    }
}
.c1{
    width: 500px;
    height: 600px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}